<div class="row">
    <center>     
        <div id="custom-search-input">
                            <div class="input-group col-md-10">
                                <input type="text" style="height:50px;"class="  search-query form-control" placeholder="Search Books.." ng-model="searchText"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
        </div>
        
    
    </div>
    </center>
    <hr >
    <div class="col-md-12" ng-repeat="x in BookDetails | filter:searchText">
        <table class="table">
            <tr>
                <td><img width="100%" height="300px" ng-src="{{ x.image }}" /></td>
            </tr>
            <tr>
                <td>
                    ISBN:{{x.isbn}}
                </td>
            </tr>
            <tr>
                <td>
                    <h4>Title:{{ x.title }}</h4> </td>
            </tr>
            <tr>
                <td>
                    <h5>Author:{{ x.auth }} </h5>
                </td>
            </tr>
            <tr>
                <td>
                    <Button class="btn btn-primary" style="display:block;width:100%;" value="Unlock" data="{{ x.userData }}" ng-click="showUser(x)">
                        <span ng-show="x.UserInfo" data-toggle="modal" data-target="#inquiry{{x.isbn}}{{x.userData}}" ng-click="setCurrent(x)">{{x.UserInfo}}</span> <span ng-show="!x.UserInfo">Unlock</span>
                    </Button>
                </td>

            </tr>
        </table>
    
    
    
    <div id="inquiry{{x.isbn}}{{x.userData}}" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Interested in this book??</h4>
                </div>
                <div class="modal-body">

                    <table class="table">

                        <tr>
                            
                            <td>
                                <input type="text" placeholder="Enter your username" ng-model="clientUsername" style="width:100%;height:50px;" 
                                       ng-disabled="disable" />
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="inquiry(clientUsername);" style="width:100%;height:50px;">Submit</button>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    
    </div>



</div>