
<div class="container" style="min-width:180px;padding:10px;background-color:white;width: 80% ;margin-left: auto;margin-right: auto;margin-top:5%;margin-bottom: 2%;">       
        <!-- Introduction Row -->
          
        <div class="row">
            <center><h2>Let's take a tour..!</h2></center>  
            
            <center><video width="700"  controls>
            <source src="./app/res/demoTour.mp4" type="video/mp4">
 
            Your browser does not support HTML5 video.
            </video>
            </center>
            
    
        </div>
</div>
