<script>
    $("[rel='tooltip']").tooltip();    
 
    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    ); 
</script>

  <script src="app/bower_components/location/locationpicker.jquery.min.js"></script> 
<div class="container" style="min-width:200px;padding:10px;background-color:white;width: 90% ;margin-left: auto;margin-right: auto;margin-top:5%;margin-bottom: 5%;">
    
    <div class="jumbotron">
        <h1> Welcome {{LoggedUser}}</h1>
        <p>Post your ad</p>
    </div>


    <div class="row">

    <!-- TH1 -->
        <div class="col-sm-6 clipart">
            <div class="thumbnail">
              <a href="" class=""  data-toggle="modal" data-target="#addNew" id="addApt">
                <div class="caption">
                     <h4 class="">Add Apartment</h4>
                     
                    <p class="">Add aprtment information</p>
                </div>
                <img src="./app/res/addApt.png" alt="..." class="">
               </a>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="thumbnail">
              <a  class="" href="" data-ng-click="getHistory();" data-toggle="modal" data-target="#update">
                <div class="caption">
                     <h4 class="">My history</h4>

                    <p class="">You can check the apartment that you have previously added</p>
                </div>
                <img src="./app/res/history.png" alt="..." class="">
               </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="thumbnail">
              <a href="" class="" data-ng-click="notification();" data-toggle="modal" data-target="#notify">
                <div class="caption">
                     <h4 class="">Notification</h4>

                    <p class="">You will get notification here, if anyone has shown interest in your apartment</p>
                </div>
                <img src="./app/res/notification.png" alt="..." class="">
               </a>
            </div>
        </div>
        
        <div class="col-sm-6">
            <div class="thumbnail">
              <a  class="" href="" data-ng-click="showVerify();" data-toggle="modal" data-target="#verify">
                <div class="caption">
                     <h4 class="">Verify identity</h4>

                    <p class="">Verify your identity</p>
                </div>
                <img src="./app/res/edit.png" alt="..." class="">
               </a>
            </div>
        </div>
        
</div>
<div id="verify"  class="modal fade modal-wide  " role="dialog" >
    
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Verify identity</h4>
                 </div>
                <div class="modal-body">
               
                    
                <div class="row" ng-show="docId">
                  
                <label class="col-sm-12 control-label">Upload image for AptId: {{ docId }}</label>
               
                   <div class="col-sm-4"> <input type="text"  class=" input-search" ng-model="viewName"  placeholder="Name the view" ></div>
                     <div class="col-sm-4">
                     <label class="btn btn-default btn-file btn-block">
                        Browse <input type="file" file-model="DocFile" style="display: none;">
                    </label>
                     </div>
                    <div class="col-sm-4"><button class="btn btn-info btn-block" ng-click="btnVerify()"  >upload me</button></div>
               </div>
                   
    
                   

                <div class="card col-sm-6" ng-repeat="x in verify">
                   <!-- <img class="card-img-top img-responsive"  src="app/res/NotAvailable.png" alt="No image available">-->
                    <div class="card-block">
                        <h4 class="card-title">Apartment Info</h4>
                        <p class="card-text">Upload document for verification</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ x.user }}</li>
                        <li class="list-group-item">{{ x.add }}</li>
                        <li class="list-group-item"><label ng-show="x.verify == 'true'">  Verified</label>
                            <label ng-show="x.verify == 'false'"> Not Verified</label>
                        </li>
                        <li class="list-group-item">
                            <!--<input type="file"  file-model="DocFile" placeholder="Upload document" ng-show="x.verify == 'false'" />-->
                           
                             <button ng-show="x.verify == 'false'"" class="btn btn-primary" ng-click="addDoc(x)">Add images</button>                              
                            <label ng-show="x.verify == 'true' "> Link to your document </label>
                        </li>
                    </ul>
                    <div class="card-block">
                        <button ng-show="x.verify == 'false'" ng-click="btnVerify(x)" class="btn btn-danger btn-block">Verify!</button>
                        <button ng-show="x.verify == 'true'" class="btn btn-danger btn-block" ng-disabled="true">Verified</button>

                    </div>
                </div>

                <div class="modal-footer">
                   <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
                </div>

        </div>
        </div>
    </div>
</div>




<div id="notify"  class="modal fade" role="dialog">
    
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Ad inquiries</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                        <th>flatid</th>
                        <th>Request By</th>
                      
                        <th>Share Detail</th>
                        </tr>
                        <tr ng-repeat="y in NotificationData" >
                        <td>{{y.id}}</td>
                        <td>{{y.client}}</td>
                        
                        <td><button class="btn btn-primary">Share contact</button></td>
                        </tr>
                        
                    
                    </table>
                 </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

        </div>
        </div>
    </div>







    
    <div id="addNew" class="modal fade  " role="dialog" >
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add apartment information</h4>
                </div>
                <div class="modal-body">
                    <div id="messages" class="well" data-ng-show="message">{{ message }}</div>
                 <div class="form-group">   
               <label class="col-sm-12 control-label">Enter tags</label>
               
                <tags-input ng-model="tags" class="col-sm-12" >
                <auto-complete source="loadTags($query)" 
                        ></auto-complete>
                </tags-input>
                </div>
               <div class="form-group">
                <label class="col-sm-12 control-label">Address</label>

                <div class="col-sm-12"><textarea class="form-control" rows="5" data-ng-model="txtaddress"> </textarea></div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-12 control-label">Location</label>

                <div class="col-sm-12"><input type="text" class="form-control" id="us3-address" data-ng-model="address"/></div>
                </div>
                
            <div class="form-group">
                <label class="col-sm-12 control-label">Area</label>

                <div class="col-sm-12"><input type="text" class="form-control" id="us3-radius" data-ng-model="radius"/></div>
            </div>
            
            
            <div class="clearfix">&nbsp;</div>

            <div id="us3" style="width: 100%; height: 250px;"></div>
            
            <div class="clearfix">&nbsp;</div>

            <div class="clearfix"></div>
            <div class="form-group">
               
             <input type="text" id="txtLat"  data-ng-model="txtLat" hidden>
            <input type="text" id="txtLon"  data-ng-model="txtLon" hidden>
            <div class="col-sm-12"> 
                <button type="submit" class="form-control btn btn-primary" ng-click="btnSubmit()" >Submit</button> </div>
            </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="update"  class="modal fade modal-wide  " role="dialog" >
    
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">History & Update</h4>
                 </div>
                <div class="modal-body">
               
               <div class="row" ng-show="imageId">
                  
                <label class="col-sm-12 control-label">Upload image for AptId: {{ imageId }}</label>
               
                   <div class="col-sm-4"> <input type="text"  class=" input-search" ng-model="viewName"  placeholder="Name the view" ></div>
                     <div class="col-sm-4">
                     <label class="btn btn-default btn-file btn-block">
                        Browse <input type="file" file-model="myFile" style="display: none;">
                    </label>
                     </div>
                    <div class="col-sm-4"><button class="btn btn-info btn-block" ng-click="uploadFile()"  >upload me</button></div>
               </div>
                   

                <table class="table">
                    <tr ng-repeat="x in history">
                        <td> {{ x.id }} </td>
                        <td> {{ x.user }} </td>
                        <td>{{ x.add }} </td>
                        <td> <button class="btn btn-danger" ng-click="">Delete </button></td>
                        <td> <button class="btn btn-primary" ng-click="addImage(x)">Add images</button></td>
                    </tr>
                    
                </table>    

                   


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

                </div>
                </div>
            </div>
        </div>



     <script type="text/javascript">
         $('#addApt').click(function(){


             $('#us3').locationpicker({
                location: {latitude: 90, longitude: 90},
                radius: 15,
                inputBinding: {
                    latitudeInput: $('#us3-lat'),
                    longitudeInput: $('#us3-lon'),
                    radiusInput: $('#us3-radius'),
                    locationNameInput: $('#us3-address')
                },
                enableAutocomplete: true,
                onchanged: function (currentLocation, radius, isMarkerDropped) {
                    // Uncomment line below to show alert on each Location Changed event
                    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
                      $("#txtLat").val(currentLocation.latitude);
                    $("#txtLon").val(currentLocation.longitude);
                    angular.element($('#txtLat')).triggerHandler('input');
                    angular.element($('#txtLon')).triggerHandler('input');
                    angular.element($('#us3-address')).triggerHandler('input');
                   angular.element($('#us3-radius')).triggerHandler('input');
                    
                    
                }
            });

         });
         </script>