<div class="row">

       <center>     
        <div id="custom-search-input">
                        <div  class="col-sm-10 input-group">
                                        <tags-input ng-model="tags" >
                            <auto-complete source="loadTags($query)" 
                                    ></auto-complete>
                            </tags-input>
                        </div>
                        
                        
                            <div class="col-sm-10 input-group">
                                <input type="text" style="height:50px;" class="search-query form-control" placeholder="Search apartment by area" ng-model="searchText"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" style="padding: 0px;margin: 0px;width: 0px;/*! height: 0px; */">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
         
                                </span>
                                
                         </div>
            
        </div>   
    </center>


    <hr/ >
    <div class="row jumbotron" data-ng-repeat="x in data|filterByTags:tags|filter:{add:searchText}" >
       
       
       
       
        <div >
            <div class="col-sm-3"></div>
            <div class="col-sm-6 images" >
            
      <!--      <div class="w3-content" style="max-width:400px" >
            <div class="myslides" ng-repeat="y in x.img">
            <img  src="{{ y.path }}" height="150px" width="150px" />
            </div>
           </div> -->
           

        <marquee direction="right" behavior="alternate" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">   
        <a href="#" ng-repeat="y in x.img">
        <img class="" ng-src="upload/{{y.path}}"  width="250px" height="250px">
        </a>
        </marquee>
            
            
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-12 data">
            <table class="table">
                <tr>
                    <td><pre>{{ x.add }}</td>
                
                </tr>
                
                <tr>
                <td><i>Tags: </i> {{ x.tag }}</td>
                
                </tr>
                <tr>
                <td><i>Not Verified</td>
                
                </tr>
                
            </table>
            
            </div>
       
        <button class="btn btn-warning btn-block" data-ng-click="">Ask for more details</button>
		   
        </div>
    </div>
</div>

