<div class="row">



    <div class="row jumbotron" data-ng-repeat="x in data" >
        <div >
            <div class="col-sm-12 image" >
            <center>
      <!--      <div class="w3-content" style="max-width:400px" >
            <div class="myslides" ng-repeat="y in x.img">
            <img  src="{{ y.path }}" height="150px" width="150px" />
            </div>
           </div> -->

           <div class="w3-content" style="max-width:400px">
        <a href="#" ng-repeat="y in x.img">
        <img class="mySlides w3-animate-fading" ng-src="upload/{{y.path}}"  width="250px" height="250px">
        </a>
        </div>
            
            </center>
            </div>
            <div class="col-sm-12 data">
            <table class="table">
                <tr>
                    <td><pre>{{ x.add }}</td>
                
                </tr>
                
                <tr>
                <td><i>Tags: </i> {{ x.tag }}</td>
                
                </tr>
                <tr>
                <td><i>Not Verified</td>
                
                </tr>
                
            </table>
            
            </div>
       
        <button class="btn btn-warning btn-block" data-ng-click="">Show more</button>
		   
        </div>
    </div>
</div>

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 4500); 
}
</script>
