<div class="row">

       <center>     
        <div id="custom-search-input">
                        <div  class="col-sm-10 input-group">
                                        <tags-input ng-model="tags" >
                            <auto-complete source="loadTags($query)" 
                                    ></auto-complete>
                            </tags-input>
                        </div>
                        
                        
                            <div class="col-sm-10 input-group">
                                <input type="text" style="height:50px;" class="search-query form-control" placeholder="Search apartment by area" ng-model="searchText"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" style="padding: 0px;margin: 0px;width: 0px;/*! height: 0px; */">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
         
                                </span>
                                
                         </div>
            
        </div>   
    </center>


    <hr/ >
    <div class="row jumbotron" data-ng-repeat="x in data|filterByTags:tags|filter:{add:searchText}" >
       
       
       
       
        <div >
            <div class="col-sm-3"></div>
            <div class="col-sm-6 images" >
            
      <!--      <div class="w3-content" style="max-width:400px" >
            <div class="myslides" ng-repeat="y in x.img">
            <img  src="{{ y.path }}" height="150px" width="150px" />
            </div>
           </div> -->
           

        <marquee direction="right" behavior="alternate" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">   
        <a href="#" ng-repeat="y in x.img">
        <img class="" ng-src="upload/{{y.path}}"  width="250px" height="250px">
        </a>
        </marquee>
            
            
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-12 data">
            <table class="table" >
                <tr>
                    <td><pre>{{ x.add }}</td>
                
                </tr>
                
                <tr>
                <td><i>Tags: </i> {{ x.tag }}</td>
                
                </tr>
                <tr ng-class="{'verify':x.verify=='true','nverify':x.verify=='false'}">
                <td><i>Verify:{{ x.verify }}</i></td>
                
                </tr>
                
            </table>
            
            </div>
       
        <button class="btn btn-warning btn-block" ng-click="askDetail(x)" data-toggle="modal" data-target="#inquiry">Ask for more details</button>
		   
        </div>



    </div>


    

       
    <div id="inquiry" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Interested in this ad??</h4>
                </div>
                <div class="modal-body">
                    
                    <table class="table">

                        <tr >
                            
                            <td colspan="2">
                                Apt id:{{askInfo}}
                            </td>
                        </tr>    

                        <tr>
                            

                            <td>
                                <input type="text" placeholder="Please login.." ng-model="clientUsername" style="width:100%;height:50px;" 
                                       ng-disabled="true" />
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="inquiry(clientUsername);" style="width:100%;height:50px;" ng-disabled="!askInfo">Submit</button>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>     

</div>

